    <footer class="Footer">
      <p class="developer">
          Développé avec ❤️ par <a href="https://github.com/GauthierWebDev" target="_blank" rel="noopener noreferrer">Gauthier Daniels</a>
      </p>

      <p class="copy">
          Projet basé sur les ressources et designs de <a href="https://www.frontendmentor.io/challenges/memory-game-vse4WFPvM" target="_blank" rel="noopener noreferrer">Frontend Mentor</a>
          et de <a href="https://oclock.io/" target="_blank" rel="noopener noreferrer">l'école O'clock</a>.
      </p>
    </footer>
  </div>

  <script src="./js/index.js"></script>
</body>
</html>