@font-face {
    font-family: 'Trueno Round';
    src: url('../fonts/TruenoRound.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno Round';
    src: url('../fonts/TruenoRoundBd.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Trueno Round';
    src: url('../fonts/TruenoRoundBdIt.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Trueno Round';
    src: url('../fonts/TruenoRoundIt.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}